<ion-header>
  <ion-toolbar color="primary">
    <div class=" ion-text-right">
      <ion-title> Friends </ion-title>
    </div>
    <ion-icon name="arrow-back-circle-outline" routerLink=""></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content color="dark">
  <div class="banner">
    <div class="info-banner">
      <h2>Friends </h2>
      <p>1994 &nbsp;&nbsp;14 &nbsp;&nbsp;10 temporadas</p>
      <ion-button color="danger" size="small">ASSISTIR</ion-button>
      <ion-button color="success" size="small">EPISÓDIOS</ion-button>
    </div>
  </div>

  <ion-item color="dark">
    <p>Avaliação dos Usuários</p>
    <div class="info ion-text-center">
    <div slot="end" class="c100 p70 small green">
      <span>70%</span>
      <div class="slice">
        <div class="bar"></div>
        <div class="fill"></div>
      </div>
    </div>
  </div>
  <span class="tipo"><ion-icon name="list-outline"></ion-icon>
    <ion-icon name="heart-outline"></ion-icon>
    <ion-icon name="bookmark-outline"></ion-icon>
    <ion-icon name="star-outline"></ion-icon></span>
</ion-item>

  <h1>Elenco</h1>
  <ion-item lines="full" color="medium">
  <ion-thumbnail slot="start">
    <img src="assets/matthew.jpg">
  </ion-thumbnail>
  <ion-label>
    <h3>Matthew Perry</h3>
  <p>Chandler Bing</p>
  </ion-label> 
</ion-item> 
  
<ion-item lines="full" color="medium">
  <ion-thumbnail slot="start">
    <img src="assets/cox.jpg">
  </ion-thumbnail>
  <ion-label>
    <h3>Courteney Cox</h3>
  <p>Monica Geller</p>
</ion-label> 
</ion-item> 

<ion-item lines="full" color="medium">
  <ion-thumbnail slot="start">
    <img src="assets/matt.jpg">
  </ion-thumbnail>
  <ion-label>
    <h3>Matt LeBlanc</h3>
  <p>Joey Tribbiani</p>
  </ion-label> 
</ion-item> 

<ion-item lines="full" color="medium">
  <ion-thumbnail slot="start">
    <img src="assets/lisa.jpg">
  </ion-thumbnail>
  <ion-label>
    <h3>Lisa Kudrow</h3>
  <p>Phoebe Buffay</p>
  </ion-label> 
</ion-item> 

<ion-item lines="full" color="medium">
  <ion-thumbnail slot="start">
    <img src="assets/jennifer.jpg">
  </ion-thumbnail>
  <ion-label>
    <h3>Jennifer Aniston</h3>
  <p>Rachel Green</p>
  </ion-label> 
</ion-item> 

<ion-item lines="full" color="medium">
  <ion-thumbnail slot="start">
    <img src="assets/david.jpg">
  </ion-thumbnail>
  <ion-label>
    <h3>David Schwimmer</h3>
  <p>Ross Geller</p>
  </ion-label> 
</ion-item>
</ion-content>