<ion-header>
  <ion-toolbar color="primary">
    <div class=" ion-text-right">
      <ion-title> Irmão do Jorel </ion-title>
    </div>
    <ion-icon name="arrow-back-circle-outline" routerLink=""></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content color="dark">
  <div class="banner">
    <div class="info-banner">
      <div class="info ion-text-left">
        <ion-button color="danger" size="small">ASSISTIR</ion-button>
      </div>
      <ion-icon name="list-outline"></ion-icon>&nbsp;&nbsp;
      <ion-icon name="heart-outline"></ion-icon>&nbsp;&nbsp;
      <ion-icon name="bookmark-outline"></ion-icon>&nbsp;&nbsp;
      <ion-icon name="star-outline"></ion-icon>
    </div>
  </div>


  <ion-item color="medium">
    <div class="info ion-text-center">
      <span class="tipo">10</span> <span class='duracao'>11m</span>
      <p>Animação, Comédia, Família, Kids</p>
    </div>

    <div slot="end" class="c100 p87 small green">
      <span>87%</span>
      <div class="slice">
        <div class="bar"></div>
        <div class="fill"></div>
      </div>
    </div>
  </ion-item>

  <ion-item color="dark">
    <div>
      <h2>Sinopse</h2>
      <p>A série mostra o cotidiano de uma família excêntrica e extravagante. O filho mais novo conhecido apenas pelo
        nome de "Irmão do Jorel" é ofuscado pela fama e popularidade de seu irmão mais velho Jorel. Junto de sua família
        composta por seus dois irmãos mais velhos, seu pai, sua mãe, suas duas avós e seu cachorro eles vivem situações
        típicas de uma família brasileira no final da década de 80.</p>
    </div>
  </ion-item>
</ion-content>