<ion-header>
  <ion-toolbar color="primary">
    <div class=" ion-text-right">
      <ion-title> Capitã Marvel </ion-title>
    </div>
    <ion-icon name="arrow-back-circle-outline" routerLink=""></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content color="dark">
  <div class="banner">
    <div class="info-banner">
      <div class="info ion-text-left">
      <ion-button color="danger" size="small">ASSISTIR</ion-button></div>
      <ion-icon name="list-outline"></ion-icon>&nbsp;&nbsp;
      <ion-icon name="heart-outline"></ion-icon>&nbsp;&nbsp;
      <ion-icon name="bookmark-outline"></ion-icon>&nbsp;&nbsp;
      <ion-icon name="star-outline"></ion-icon>
    </div>
  </div>


  <ion-item color="medium">
    <div class="info ion-text-center">
      <span class="tipo">PG-13</span> <span class='duracao'>2h 4m</span>
      <p>Ação, Aventura, Ficção científica</p>
    </div>

    <div slot="end" class="c100 p70 small green">
      <span>70%</span>
      <div class="slice">
        <div class="bar"></div>
        <div class="fill"></div>
      </div>
    </div>
  </ion-item>

  <ion-item color="dark">
    <div>
      <h2>Sinopse</h2>
      <p>Capitã Marvel, parte do exército de elite dos Kree, uma raça alienígena, encontra-se no meio de uma batalha
        entre seu povo e os Skrulls. Ao tentar impedir uma invasão de larga escala na Terra, em 1995, ela tem memórias
        recorrentes de uma outra vida, como Carol Danvers, agente da Força Aérea norte-americana. Com a ajuda de Nick
        Fury, Capitã Marvel precisa descobrir os segredos de seu passado e pôr um fim ao conflito intergalático com os
        Skrulls.</p>
    </div>
  </ion-item>
</ion-content>