<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Séries
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="medium">

  <ion-card color="dark">
    <ion-card-header>
      <img src="https://image.tmdb.org/t/p/w533_and_h300_bestv2/l0qVZIpXtIo7km9u5Yqh0nKPOr5.jpg">
    </ion-card-header>

    <ion-item color="dark">
      <h1>Friends <span>(1994)</span></h1>
    </ion-item>
    <ion-item color="medium">
      <div class="info ion-text-center">
        <span class="tipo">TV-14</span> <span class='duracao'>25m</span>
        <p>Comédia,Drama</p>
      </div>
    </ion-item>
    <ion-item color="dark">
      <div>
        <h2>Sinopse</h2>
        <p>Seis jovens são unidos por laços familiares, românticos e, principalmente, de amizade, enquanto tentam vingar
          em Nova York. Rachel é a garota mimada que deixa o noivo no altar para viver com a amiga dos tempos de escola
          Monica, sistemática e apaixonada pela culinária. Monica é irmã de Ross, um paleontólogo que é abandonado pela
          esposa, que descobriu ser lésbica. Do outro lado do corredor do apartamento de Monica e Rachel, moram Joey, um
          ator frustrado, e Chandler, de profissão misteriosa. A turma é completa pela exótica Phoebe.</p>
      </div>
    </ion-item>
  </ion-card>



  <ion-card color="dark">
    <ion-card-header>
      <img src="https://image.tmdb.org/t/p/w533_and_h300_bestv2/v9rY2Xu3B3NRN4xY9HZ75BhvVyl.jpg">
    </ion-card-header>

    <ion-item color="dark">
      <h1>História de Horror Americana <span>(2011)</span></h1>
    </ion-item>
    <ion-item color="medium">
      <div class="info ion-text-center">
        <span class="tipo">TV-MA</span> <span class='duracao'>43m</span>
        <p>Drama,Mistério,Sci-Fi & Fantasy</p>
      </div>
    </ion-item>
    <ion-item color="dark">
      <div>
        <h2>Sinopse</h2>
        <p>É uma série de terror e suspense, que, a cada temporada, conta uma nova história centrada em um tema e com
          praticamente todo o elenco da temporada anterior interpretando novos e completamente diferentes personagens.
        </p>
      </div>
    </ion-item>
  </ion-card>


  <ion-card color="dark">
    <ion-card-header>
      <img src="https://image.tmdb.org/t/p/w533_and_h300_bestv2/nvMoOlC7HHZ9U4WknwwGOVefvnI.jpg">
    </ion-card-header>

    <ion-item color="dark">
      <h1>Stranger Things <span>(2016)</span></h1>
    </ion-item>
    <ion-item color="medium">
      <div class="info ion-text-center">
        <span class="tipo">TV-14</span> <span class='duracao'>50m</span>
        <p>Mistério,Sci-Fi & Fantasy,Drama</p>
      </div>
    </ion-item>
    <ion-item color="dark">
      <div>
        <h2>Sinopse</h2>
        <p>Quando um garoto desaparece, a cidade toda participa nas buscas. Mas o que encontram são segredos, forças
          sobrenaturais e uma menina.
        </p>
      </div>
    </ion-item>
  </ion-card>
</ion-content>