<ion-header>
  <ion-toolbar color="primary" >
    <div class=" ion-text-right">
    <ion-title> Coringa </ion-title></div>
      <ion-icon name="arrow-back-circle-outline" routerLink=""></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content color="dark">
  <div class="banner">
    <div class="info-banner">
      <div class="info ion-text-left">
        <ion-button color="danger" size="small">ASSISTIR</ion-button></div>
      <ion-icon name="list-outline"></ion-icon>&nbsp;&nbsp;
      <ion-icon name="heart-outline"></ion-icon>&nbsp;&nbsp;
      <ion-icon name="bookmark-outline"></ion-icon>&nbsp;&nbsp;
      <ion-icon name="star-outline"></ion-icon>
    </div>
  </div>

  <ion-item color="medium">
    <div class="info ion-text-center">
      <span class="tipo">16</span> <span class='duracao'>2h 2m</span>
      <p>Crime, Thriller, Drama</p>
    </div>

    <div slot="end" class="c100 p82 small green">
      <span>82%</span>
      <div class="slice">
        <div class="bar"></div>
        <div class="fill"></div>
      </div>
    </div>
  </ion-item>

  <ion-item color="dark">
    <div>
      <h2>Sinopse</h2>
      <p>Arthur Fleck trabalha como palhaço para uma agência de talentos e, toda semana, precisa comparecer a uma agente
        social, devido aos seus conhecidos problemas mentais. Após ser demitido, Fleck reage mal à gozação de três
        homens em pleno metrô e os mata. Os assassinatos iniciam um movimento popular contra a elite de Gotham City, da
        qual Thomas Wayne é seu maior representante.</p>
    </div>
  </ion-item>
</ion-content>