<ion-header>
  <ion-toolbar color="primary">
    <div class=" ion-text-right">
      <ion-title> História de Horror Americana </ion-title>
    </div>
    <ion-icon name="arrow-back-circle-outline" routerLink=""></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content color="dark">
  <div class="banner">
    <div class="info-banner">
      <h2>AHS</h2>
      <p>2011 &nbsp;&nbsp;16 &nbsp;&nbsp;9 temporadas</p>
      <ion-button color="danger" size="small">ASSISTIR</ion-button>
      <ion-button color="success" size="small">EPISÓDIOS</ion-button>
    </div>
  </div>

  <ion-item color="dark">
    <p>Avaliação dos Usuários</p>
    <div class="info ion-text-center">
    <div slot="end" class="c100 p75 small green">
      <span>75%</span>
      <div class="slice">
        <div class="bar"></div>
        <div class="fill"></div>
      </div>
    </div>
  </div>
  <span class="tipo"><ion-icon name="list-outline"></ion-icon>
    <ion-icon name="heart-outline"></ion-icon>
    <ion-icon name="bookmark-outline"></ion-icon>
    <ion-icon name="star-outline"></ion-icon></span>
</ion-item>

  <h1>Elenco</h1>
  <ion-item lines="full" color="medium">
  <ion-thumbnail slot="start">
    <img src="assets/evan.jpg">
  </ion-thumbnail>
  <ion-label>
    <h3>Evan Peters</h3>
  </ion-label> 
</ion-item> 
  
<ion-item lines="full" color="medium">
  <ion-thumbnail slot="start">
    <img src="assets/sarah.jpg">
  </ion-thumbnail>
  <ion-label>
    <h3>Sarah Paulson</h3>
</ion-label> 
</ion-item> 

<ion-item lines="full" color="medium">
  <ion-thumbnail slot="start">
    <img src="assets/taissa.jpg">
  </ion-thumbnail>
  <ion-label>
    <h3>Taissa Farmiga</h3>
  </ion-label> 
</ion-item> 

<ion-item lines="full" color="medium">
  <ion-thumbnail slot="start">
    <img src="assets/angela.jpg">
  </ion-thumbnail>
  <ion-label>
    <h3>Angela Bassett</h3>
  </ion-label> 
</ion-item> 

<ion-item lines="full" color="medium">
  <ion-thumbnail slot="start">
    <img src="assets/lady.jpg">
  </ion-thumbnail>
  <ion-label>
    <h3>Lady Gaga</h3>
  </ion-label> 
</ion-item> 

<ion-item lines="full" color="medium">
  <ion-thumbnail slot="start">
    <img src="assets/denis.jpg">
  </ion-thumbnail>
  <ion-label>
    <h3>Denis O'Hare</h3>
  </ion-label> 
</ion-item>

<ion-item lines="full" color="medium">
  <ion-thumbnail slot="start">
    <img src="assets/jessica.jpg">
  </ion-thumbnail>
  <ion-label>
    <h3>Jessica Lange</h3>
  </ion-label> 
</ion-item> 

<ion-item lines="full" color="medium">
  <ion-thumbnail slot="start">
    <img src="assets/kathy.jpg">
  </ion-thumbnail>
  <ion-label>
    <h3>Kathy Bates</h3>
  </ion-label> 
</ion-item> 

<ion-item lines="full" color="medium">
  <ion-thumbnail slot="start">
    <img src="assets/lily.jpg">
  </ion-thumbnail>
  <ion-label>
    <h3>Lily Rabe</h3>
  </ion-label> 
</ion-item> 

<ion-item lines="full" color="medium">
  <ion-thumbnail slot="start">
    <img src="assets/wes.jpg">
  </ion-thumbnail>
  <ion-label>
    <h3>Wes Bentley</h3>
  </ion-label> 
</ion-item> 

<ion-item lines="full" color="medium">
  <ion-thumbnail slot="start">
    <img src="assets/frances.jpg">
  </ion-thumbnail>
  <ion-label>
    <h3>Frances Conroy</h3>
  </ion-label> 
</ion-item> 

<ion-item lines="full" color="medium">
  <ion-thumbnail slot="start">
    <img src="assets/emma.jpg">
  </ion-thumbnail>
  <ion-label>
    <h3>Emma Roberts</h3>
  </ion-label> 
</ion-item> 
</ion-content>
